*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background: #0f0f0f;
    color: #efeded;
    user-select: none;
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
    }
}
.background-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; /* Ensure the video is behind other content */
    opacity: 0.1; /* Adjust opacity as needed */
    animation: fadeIn 3s ease-in-out forwards;
}
.background-video.fade-out{
    animation: fadeOut 3s ease-in-out forwards;
}

/* --------------------Header--------------------- */

#header{
    width: 100%;
    height: 100vh;
    background-image: url(Images/background.jpg);
    background-size: cover;
    background-position: center;
}
.container{         /* for Each container Header,About,...etc  */
    padding: 50px;
    align-items: center;
    position: relative;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80%;
}
#container-header{     /* only for header */
    padding: 20px;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
#nav {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; /* Adjust width as needed */
    z-index: 1000;
    background-color: rgba(15, 15, 15, 0.9); /* Example background color */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Example box shadow */
    padding: 10px 20px; /* Example padding */
    box-sizing: border-box; /* Ensures padding and border are included in the width */
}
#nav ul{
    align-items: center;
}
#nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
    transition: transform 0.3s ease;
}
#nav ul li a{
    color: #efeded;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}

#nav ul li:hover{
    transform: scale(1.2);
}

#nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fe1e1c;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
#nav ul li a:hover::after{
    width: 75%;
}
.header-text{
    margin-top: 20%;
    padding-left: 50px;
    font-size: 30px;
    text-align: left;
}
.header-text h1{
    font-size: 60px;
    margin-top: 20px;
}
.header-text h1 span{
    color: #fe1e1c;
}

/*-------------About--------------*/

#about{
    position: relative;
    top: 0;
    padding: 50px 0;
    color: #efeded;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 35%;
}
.about-col-1 img{
    width: 100%;
    border-radius: 10px;
}
.about-col-2{
    flex-basis: 60%;
}
.about-col-2 p{
    padding: 2% 0;
}
.sub-title{
    font-size: 60px;
    font-weight: 600;
    color: #efeded;
}
.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}
.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}
.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    background: #fe1e1c;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}
.tab-links.active-link::after{
    width: 50%;
}
.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}
.tab-contents ul li span{
    color: #fe1e1c;
    font-size: 14px;
}
.tab-contents{
    display: none;
}
.tab-contents.active-tab{
    display: block;
}

/* -----------Services----------- */

#services{
    position: relative;
    top: 0;
    padding: 50px 0;
}
.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px;
}
.services-list div{
    background: #404040;
    padding: 40px;
    font-size: 13px;
    font-weight: 300;
    border-radius: 10px;
    opacity: 0.9;
    transition: background 0.5s,transform 0.5s;
}
.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}
.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}
.services-list div a{
    text-decoration: none;
    color: #7d7d7d;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}
.services-list div:hover{
    background: #fe1e1c;
    transform: translateY(-10px);
}

/* -----------Portfolio----------- */
#portfolio{
    position: relative;
    top: 0;
    padding: 50px 0;
}
.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 40px;
    margin-top: 50px; 
}
.work{
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    aspect-ratio: 1;
}
.work img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s ease;
}
.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(239, 237, 237,0.6), #fe1e1c);
    border-radius: 10px;
    position: absolute;
    left: 0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 40px;
    text-align: center;
    transition: height 0.5s ease;
}
.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
    color: #0f0f0f;
}
.layer p{
    font-size: 14px;
    color: #0f0f0f;
}
.layer a{
    margin-top: 20px;
    color: #fe1e1c;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #0f0f0f;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}
.work:hover img{
    transform: scale(1.1);
}
.work:hover .layer{
    height: 100%;
}
.button{
    display: block;
    border-radius: 6px;
    border: 1px solid #efeded;
    margin: 50px auto;
    width: fit-content;
    padding: 14px 50px;
    text-decoration: none;
    color: #efeded;
    transition: background 0.5s;
    transition: color 0.5s;
}
.button:hover{
    background: #efeded;
    color: #0f0f0f;
}

/* -----------Feedbacks----------- */

[type=radio]{
    display: none;
}
#slider{
    position: relative;
    top: 0;
    padding: 0 50px 0 0;
    height: 45vw;
    width: 100%;
    perspective: 1000px;
    transform-style: preserve-3d;
}
#slider label{
    margin: auto;
    width: 47%;
    height: 70%;
    border-radius: 10px;
    position: absolute;
    left: 0;
    right: 0;
    cursor: pointer;
    transition: transform 0.4s ease;
}
#slider label img{
    opacity: 1;
}
#s1:checked ~ #slide4, #s2:checked ~ #slide5,
#s3:checked ~ #slide1, #s4:checked ~ #slide2,
#s5:checked ~ #slide3{
    transform: translate3d(-60%,0,-300px);
}
#s1:checked ~ #slide5, #s2:checked ~ #slide1,
#s3:checked ~ #slide2, #s4:checked ~ #slide3,
#s5:checked ~ #slide4{
    transform: translate3d(-30%,0,-150px);
}
#s1:checked ~ #slide1, #s2:checked ~ #slide2,
#s3:checked ~ #slide3, #s4:checked ~ #slide4,
#s5:checked ~ #slide5{
    transform: translate3d(0,0,0);
}
#s1:checked ~ #slide2, #s2:checked ~ #slide3,
#s3:checked ~ #slide4, #s4:checked ~ #slide5,
#s5:checked ~ #slide1{
    transform: translate3d(30%,0,-150px);
}
#s1:checked ~ #slide3, #s2:checked ~ #slide4,
#s3:checked ~ #slide5, #s4:checked ~ #slide1,
#s5:checked ~ #slide2{
    transform: translate3d(60%,0,-300px);
}


/* -----------Contact----------- */

#contact{
    position: relative;
    top: 0;
    padding: 50px 0;
}
.contact-left{
    flex-basis: 35%;
}
.contact-left p{
    margin-top: 30px;
}
.contact-left p i{
    color: #7d7d7d;
    margin-right: 15px;
    font-size: 25px;
}
.contact-right{
    flex-basis: 60%;
}
.social-icons{
    margin-top: 30px;
    font-size: 30px;
}
.social-icons a{
    text-decoration: none;
    margin-right: 15px;
    color: #7d7d7d;
    display: inline-block;
    transition: transform 0.5s;
}
.social-icons a:hover{
    color: #efeded;
    transform: translateY(-5px);
}
.button.button2{
    display: inline-block;
}
.contact-right form{
    margin-top: 20px;
    width: 100%;
}
form input, form textarea{
    width: 100%;
    border: 1px;
    outline: 1px;
    background: #404040;
    padding: 15px;
    margin: 15px 0;
    color: #efeded;
    font-size: 18px;
    border-radius: 6px;
}
form textarea{
    resize: vertical;
    min-height: 12em;
}
form .button2{
    padding: 14px 60px;
    font-size: 18px;
    margin-top: 20px;
    cursor: pointer;
    background-color: #0f0f0f;
}
.copyright{
    background-color:#efeded;
    width: 100%;
    padding: 10px 0;
    text-align: center;
    margin-top: 20px;
    font-weight: 300;
}
.copyright p{
    color: #0f0f0f;
}
.copyright p i{
    size: 0.4em;
}

/* -----------CSS for small screen------------- */

