*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
body{
    background: #fff;
    color: #080808;
}
#header{
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(Images/background.jpg);
    background-size: cover;
    background-position: center;
    overflow: hidden;/* Ensure video doesn't overflow */
}
@keyframes fadeIn {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 0;
    }
}
#video-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    opacity: 0.1;
    animation: fadeIn 3s ease-in-out forwards; /* Smooth fade-in animation */
}
#video-overlay.fade-out {
    animation: fadeOut 3s ease-in-out forwards; /* Smooth fade-out animation */
}
